@tailwind base;
@tailwind utilities;
@tailwind components;
/* nav{
  background-color: #183B4E;
} */
.active{
  background-color: #98D2C0;
  border-radius: 5px;
  transition-duration: 0.25s;
}
.star{
  position: relative;
  margin: 0 15px;
}
.star::before{
  content: "";
  top: 50%;
  /* left: -20px; */
  right: 70%;
  position: absolute;
  height: 5px;
  background-color: white;
  width: 100px;
}
.star::after{
  content: "";
  left: 70%;
  top: 50%;
  position: absolute;
  height: 5px;
  background-color: white;
  width: 100px;
}
.port{
  position: relative;
  margin: 0 15px;
  z-index: -1;
}
.port::before{
  content: "";
  top: 50%;
  /* left: -20px; */
  right: 70%;
  position: absolute;
  height: 5px;
  background-color: black;
  width: 100px;
}
.port::after{
  content: "";
  left: 70%;
  top: 50%;
  position: absolute;
  height: 5px;
  background-color: black;
  width: 100px;
}
.img-layer:hover{
  cursor: pointer;
}
nav{
  z-index: 100;
}

.row{
  @apply flex flex-wrap justify-center items-center;
}
